$backgroundColor: #101010;
$red: #dc143c;

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background-color: $backgroundColor;

  p {
    color: white;
    font-size: 15px;
    width: 100%px;
    text-align: center;
    margin-top: 2px;
    letter-spacing: 1px;
    line-height: 23px;
  }

  .end {
    color: $red;
    bottom: 2px;
    font-size: 14px;
  }

  .social-networks {
    display: flex;

    a {
      background-color: $red;
      width: 45px;
      height: 45px;
      padding: 15px;
      border-radius: 50%;
      margin: 20px 10px 7px 0px;
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: row;
      transition: transform 0.4s;
    }

    a:hover {
      color: #fff !important;
      transform: scale(1.2);
    }
  }
}
