.background-home {
  display: flex;
  background-image: url(../../images/background-main.png);
  background-size: cover;
  background-position: center;
  height: 89.3vh;
  width: 100%;
  background-attachment: fixed;
}

.title-home {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

#animate-flicker {
  margin-left: 1vw;
  color: #fff;
}

.trybe {
  text-decoration: none;
  color: #2fc18c;
}

.trybe:hover {
  color: #036b52;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#animate-flicker {
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
}
