.title {
  color: #fff;
  font-size: 4em;
  margin: 30px auto;
  text-align: center;
}

.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1800px;
  flex-wrap: wrap;
}

/* @media screen and (max-width: 990px) {
  .title h2 {
    font-size: 2.5em;
    text-align: center;
  }
} */
