body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

.background {
  background-image: url(images/background-main.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

/* .show {
  text-align: right;
} */

header .logo {
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  letter-spacing: 1px;
}

header .logo:hover {
  color: #fff;
}

.bg-navbar {
  background: #101010;
}

 nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body span {
  color: #dc143c;
}

.trybe {
  text-decoration: none;
  color: #2fc18c;
}

.trybe:hover {
  color: #036b52;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

nav ul li a:hover {
  color: #dc143c;
  transform: 0.4s;
}

body .btn {
  background-color: #dc143c;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 25px;
  transition: transform 0.4s;
}

.btn:hover {
  transform: scale(1.1);
}


.background-color-grey {
  background-color: #191919;
  width: 100%;
  min-height: 100vh;
  padding: 100px 0px;
}

.Main {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

body .Main span {
  color: #dc143c;
}

#animate-flicker {
  margin-left: 1vw;
  color: #fff;
}

body h1 {
  color: #fff;
  margin: 20px 0px 20px;
  font-size: 75px;
}

body h4 {
  color: #fcfc;
  letter-spacing: 2px;
  font-size: 20px;
}

body h3 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 50px;
}

.Container-btn form {
  width: 380px;
  max-width: 100%;
  position: relative;
}

.background-color-Sobre img {
  width: 100%;
  height: auto;
}

.Text-sobre {
  width: 550px;
}

.main-sobre {
  align-items: center;
  justify-content: space-around;

  margin: 10% auto;
}

main .picture {
  max-width: 350px;
  border-radius: 20px;
  box-shadow: 3px 3px #0d1b2a;
}

.Text-sobre h2 {
  color: #fff;
  font-size: 4em;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.Text-sobre h5 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.Text-sobre p {
  color: #fff;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

button:hover {
  background-color: transparent;
  border: 2px solid #dc143c;
  cursor: pointer;
}

.title h2 {
  color: #fff;
  font-size: 4em;
  margin: 30px auto;
  text-align: center;
}

.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  flex-wrap: wrap;
}

.card-box .card {
  background: #101010;
  height: 365px;
  width: 335px;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #dc143c;
}

header h5 {
  color: #fff;
  font-size: 23px;
  margin-bottom: 15px;
}

.card-body {
  background-color: #101010;
  height: 95%;
  padding: 1.08rem;
}

.card-title {
  color: #fff;
}

.card-body p {
  color: #fff;
}

.card-text {
  margin: 5px;
}

.card .card-img-top {
  width: 105%;
}

/* .Paragrafo-button {
  color: #fff;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
} */

/* .Paragrafo-button button {
  margin-top: 25px;
} */

.me-contate {
  width: 100%;
  height: 290px;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.me-contate p {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 25px;
}

body footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: #101010;
}

body footer h6 {
  font-size: 35px;
  color: #fff;
}

body footer p {
  color: #fff;
  font-size: 15px;
  width: 100%px;
  text-align: center;
  margin-top: 2px;
  letter-spacing: 1px;
  line-height: 23px;
}

.Redes-sociais {
  display: flex;
}

.Redes-sociais a {
  background-color: #dc143c;
  width: 45px;
  height: 45px;
  padding: 15px;
  border-radius: 50%;
  margin: 20px 10px 7px 0px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.Redes-sociais a:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.c-loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #dc143c;
  height: 50px;
  width: 50px;
  margin: auto auto;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}
  
footer .end {
  /* position: absolute; */
  color: #dc143c;
  bottom: 2px;
  font-size: 14px;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#animate-flicker {
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
}

@media screen and (max-width: 990px) {
  .picture {
    max-width: 280px;
  }

  .Text-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .Text-sobre h2 {
    font-size: 2.5em;
    text-align: center;
  }

  .title h2 {
    font-size: 2.5em;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    background-color: #191919;
    z-index: 1;
    border-radius: 0 0 5px 5px;
    transition: .5s;
  }

  .background-color-grey {
    padding-bottom: 100px;
    height: 100%;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
